*.o
*.obj
*.ko
*.mod
*.toc
*.aux
*.lo
*.la
*.lai
*.so
*.so.*
*.a
*.lib
*.dll
*.dylib
*.pdb
*.ilk

build/
Build/
bin/
lib/

cmake-build-debug/
cmake-build-release/
CMakeFiles/
CMakeCache.txt

__pycache__/
*.pyc
